.callback
	&-wrapper
		position: relative
		z-index: 1
		+adap('padding-block', 42, 36)
		+adap('padding-left', 42, 32)
		+adap('padding-right', 122, 24)
		display: grid
		grid-template-columns: 1fr auto 
		+adap('gap', 126, 20)
		align-items: start

		border-radius: 24px

	&__bg 
		position: absolute
		left: 0
		top: 0
		z-index: -1
		width: 100%
		height: 100%
		pointer-events: none

		img 
			width: 100%
			object-fit: cover
			border-radius: 24px

	&__left 
		display: grid
		+adap('gap', 40, 30)
		justify-items: start
		max-width: 512px

	&__button 
		border-color: rgba(#fff, .44)

		+hov
			border-color: $active

	&__list 
		display: grid
		+adap('gap', 24, 16)
		counter-reset: number
		text-wrap: balance
		overflow: hidden

		li
			display: flex
			align-items: center
			+adap('gap', 20, 16)

			font-weight: 700
			+adap('font-size', 18, 16)
			line-height: 1.25

			&:first-child
				@media (min-width: 768px)
					position: relative

					&:after
						content: ''

						position: absolute
						+adap('left', 18, 15)
						top: 5px
						z-index: -1

						width: 2px
						height: 100vh

						background-image: url("data:image/svg+xml,%3Csvg width='2' height='258' viewBox='0 0 2 258' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0V258' stroke='%23DFE6FF' stroke-opacity='0.3' stroke-width='2' stroke-dasharray='6 6' /%3E%3C/svg%3E")

			&:before
				content: counter(number)

				display: flex
				align-items: center
				justify-content: center
				+adap('width', 38, 32)
				+adap('height', 38, 32)
				+adap('flex-basis', 38, 32)
				flex-grow: 0
				flex-shrink: 0

				background: $active
				border-radius: 50%

				counter-increment: number

	@media (max-width: 991px)
		
		&-wrapper
			grid-template-columns: 100%
			justify-items: start
			row-gap: 29px
			padding-bottom: 266px

		&__left 
			display: contents

		&__button 
			order: 1

		&__bg 
			img 
				object-position: 0 91%


































































































