.footer 
	&__top 
		display: flex
		align-items: flex-start
		justify-content: space-between
		+adap('gap', 90, 20)
		+adap('padding-top', 31, 22)
		+adap('padding-bottom', 52, 26)

		border-top: 2px solid #40465040

	&__logo 
		min-width: 143px

	&__menu 
		display: grid
		grid-template-columns: repeat(2, max-content)
		max-width: 400px
		+adap('column-gap', 124, 20)
		row-gap: 20px

		color: #c6cdd9

		@media (max-width: 991px)
			display: none

		&>li>a
			+hov
				color: $active

	&__right 
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		gap: 16px 

	&__item 
		display: grid
		grid-template-columns: 16px 1fr 
		gap: 8px
		flex: 1 0 250px
		align-content: start

		font-size: 14px

		svg 
			max-width: 16px
			max-height: 10px

			&.location-icon
				max-width: 11px
				max-height: 13px

			margin-top: 0.2lh

			fill: #848892

		&-content 
			display: grid
			gap: 4px
		
		&-title 
			color: #848892

	&__social 
		display: flex
		align-items: center
		gap: 12px

		.social
			&__item 
				display: flex
				+t 

				+hov
					scale: 1.2

				svg 
					max-width: 16px
					max-height: 16px

					&.telegram-icon
						fill: #1e99f0

					&.whatsapp-icon
						fill: #0fc020

	&__bottom 
		display: flex
		align-items: center
		justify-content: space-between
		gap: 12px
		flex-wrap: wrap
	
		+adap('font-size', 16, 14)
	
		a 
			+hov
				color: $active
	
		&-wrapper
			padding: 10px
	
			background: #000
			color: #fff
	
	
	@media (max-width: #{$firstBreakpoint + px})
		&__top 
			gap: 24px

		&__menu 
			gap: 32px

	@media (max-width: 991px)
		&__top 
			display: grid
			grid-template-columns: 100%

		@media (min-width: 768px)
			&__item 
				flex-basis: 200px

		&__bottom
			display: grid
			grid-template-columns: repeat(2, 1fr)
	
			&>* 
				&:nth-child(2n)
					@media (min-width: 576px)
						text-align: right
	
	@media (max-width: 575px)
		background: #0f1723

		&__top 
			display: grid
			grid-template-columns: 100%
			gap: 7px
			padding-block: 20px

		&__logo 
			margin-bottom: 30px

		&__tel,
		&__email 
			padding-bottom: 12px
			border-bottom: 1px solid #404650

		&__item 
			grid-template-columns: 100%
			flex-basis: 40%
			max-width: 200px

			text-wrap: balance

			svg 
				margin-top: 0

			&-title 
				font-size: 12px

		&__bottom 
			grid-template-columns: 100%

			&-wrapper
				padding: 20px 0 
				border-top: 1px solid #1B232E

				background: none




 





















































































































