.footer 
	&__top 
		display: flex
		align-items: flex-start
		justify-content: space-between
		gap: 20px
		+adap('padding-top', 31, 22)
		+adap('padding-bottom', 52, 26)

		border-top: 2px solid #40465040

	&__menu 
		display: grid
		grid-template-columns: repeat(2, max-content)
		max-width: 400px
		+adap('column-gap', 124, 20)
		row-gap: 20px

		color: #c6cdd9

		@media (max-width: 991px)
			display: none

		&>li>a
			+hov
				color: $active

	&__contacts 
		display: grid
		+adap('gap', 12, 20)

		&>span 
			font-size: 14px
			color: #848892

	&__right 
		display: grid
		gap: 12px

	&__tel, 
	&__email 
		font-weight: 700


	&__social 
		display: flex
		align-items: center
		gap: 16px

		.social
			&__item 
				display: flex
				+t 

				+hov
					scale: 1.2

				svg 
					max-width: 22px
					max-height: 17px

					&.telegram-icon
						fill: #1e99f0

					&.whatsapp-icon
						fill: #0fc020

	&__bottom 
		display: flex
		align-items: center
		justify-content: space-between
		gap: 12px
		flex-wrap: wrap
	
		+adap('font-size', 16, 14)
	
		a 
			+hov
				color: $active
	
		&-wrapper
			padding: 10px
	
			background: #000
			color: #fff
	
	
	@media (max-width: 991px)
		&__bottom
			display: grid
			grid-template-columns: repeat(2, 1fr)
	
			&>* 
				&:nth-child(2n)
					@media (min-width: 576px)
						text-align: right
	
	@media (max-width: 575px)
		&__top 
			display: grid
			grid-template-columns: 100%
			max-width: 312px	
			gap: 7px
			padding-top: 63px

		&__logo 
			margin-bottom: 30px

		&__bottom
			&-wrapper
				display: none

		&__tel,
		&__email 
			padding-bottom: 12px
			border-bottom: 1px solid #404650

		&__social 
			margin-top: 20px








 





















































































































